.category{
    margin-bottom: 0;
}
.partner-name{
    font-size: 1.2em;
}

.partner-name{
    font-size: initial !important;
}
.partner-keys{
    opacity: 0.6;
    flex-wrap: 1;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

md-card{
    min-width: 350px;
    max-width: 80%;
    margin: 16px auto;
    padding: 0;

    md-card-content{
        padding: 24px;
    }
}
