.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.width-100{
  width: 100%;
}
.width-50{
  width: 50%;
}
.width-75{
  width: 75%;
}
md-card{
  padding: 0;
  margin: 16px auto;
  min-width: 300px;
  max-width: 500px; 
  md-toolbar{
    width: 100%;
    padding: 0 16px;
  }
  
  md-card-content{
    padding: 16px;
  }
  md-card-actions{
    padding: 0 16px 16px 0;
    margin: 0 16px 16px 16px ;
  }

}
.form-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  md-input{
    flex: 1;
    margin: 1px;
    width:100%;
    // margin-right: 16px;
    // width: 100%;
  }
  
}