@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("RobotoCondensed-Regular.ttf") format('truetype');
}
.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
md-card{
  padding: 0;
  margin: 16px
  md-toolbar{
    width: 100%;
    padding: 0 16px;
  }
  
  md-card-content{
    padding: 16px;
  }
  md-card-actions{
    padding: 0 16px 16px 0;
    margin: 0 16px 16px 16px ;
  }

}
.item-clean-sweep{
  font-family: "Roboto Condensed";
  h2{
    opacity: 0.5;
  }
  button{
     opacity: 0;
   }
  &:hover{
   h2{
     opacity: 1;
   } 
   button{
     opacity: 1;
   }
  }
}