<md-card >
  <md-toolbar>
    <span class="fill-remaining-space">Clean Sweeps</span>
    <!--<button md-icon-button color="secondary">
        <md-icon class="md-48">add</md-icon>
    </button>-->
  </md-toolbar>
  <md-card-content *ngIf="cleanSweeps">
    <md-list dense>
      <md-list-item *ngFor="let cleanSweep of cleanSweeps | async">
        <h2 md-line class="">
          <span *ngFor="let street of cleanSweep.streets">
            {{street.name}}  
          </span>
        </h2>
        <p md-line> {{cleanSweep.date | date : 'short'}} ({{cleanSweep.startTime}} - {{cleanSweep.endTime}})</p>
        <!--<p md-line> {{message.message}} </p>-->
        <button md-icon-button (click)="delete(cleanSweep.$key)" color="warn">
          <md-icon>delete</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>