.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
.content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 50%;
  
  .component{
    width:75%;
    min-width: 350px;
    margin: 16px auto; 
  }
}
.fab{
  position: fixed;
  top: 32px;
  right: 32px;
}