<md-toolbar class="toolbar-background" color="primary">
  <span class="fill-remaining-space">Partners</span>
  <button md-icon-button color="secondary">
        <md-icon class="md-48">add</md-icon>
    </button>
</md-toolbar>
<md-card>
  <md-card-content>
    <md-list>
      <md-list-item>
        <md-input placeholder="Partner Name" align="middle" [(ngModel)]="newPartner.name" class="new-partner-name"></md-input>
        <select class="new-partner-category" [(ngModel)]="newPartner.category">
          <option selected disabled>Select Category</option>
          <option *ngFor="let option of partnerCategories"  [value]="option.$value">{{option.$value}}</option>
        </select>
      </md-list-item>
      <md-list-item *ngFor="let key of newPartner.keys | slice: 0:i; let i = index; " class="new-partner-keys">
        <button md-icon-button (click)="addKey()" *ngIf="i===0 && key.visible">
          <md-icon class="md-24">add_circle</md-icon>
        </button>
        <button md-icon-button (click)="addKey()" *ngIf="i>0 && key.visible">
          <md-icon class="md-24">remove_circle_outline</md-icon>
        </button>
        <md-input placeholder="Key Abbreviation" type="text" name="keyName" [(ngModel)]="key.name" class="new-partner-key" *ngIf="key.visible"></md-input>
        <md-input placeholder="Key Full Form" type="text" name="keyNameFull" [(ngModel)]="key.name_full" class="new-partner-key-full"
          *ngIf="key.visible"></md-input>
      </md-list-item>
      <md-list-item>
        <button md-button raised color="primary" (click)="addPartner()">ADD</button>
        <button md-button raised color="warn" (click)="cancelPartner()">CANCEL</button>
      </md-list-item>
    </md-list>
    <md-list dense>
      <div *ngFor="let category of partners | partnerCategories">
        <h3 md-subheader class="category">{{category.name}}</h3>
        <md-list-item *ngFor="let partner of category.partners">

          <h3 md-line class="partner-name"> {{partner.name}} </h3>
          <!--<p md-line class="partner-keys" [innerHtml]="partner.keys | partnerKeys:'i'"></p>-->
          <p md-line class="partner-keys">{{partner.keys | partnerKeys:'i'}}</p>
          <button md-icon-button class="accent" (click)="editPartner($key)">
            <md-icon class="md-24" class="accent">edit</md-icon>
          </button>
          <button md-icon-button color="warn">
            <md-icon class="md-24" color="warn">delete</md-icon>
          </button>
        </md-list-item>
        <md-divider></md-divider>
      </div>
    </md-list>
  </md-card-content>
</md-card>