.category{
    margin-bottom: 0;
}
.partner-name{
    font-size: 1.2em;
}
[md-icon-button]{
    // width:52px;
}
md-list{
    border: 1px solid rgba(0, 0, 0, 0.12);
    // width: 350px;
    margin: 20px 20px 0 0;
}
md-fab{
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.partner-name{
    font-size: initial !important;
}
.partner-keys{
    opacity: 0.6;
    flex-wrap: 1;
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}