<md-toolbar class="toolbar-main" color="primary">
  <!--<button md-icon-button color="secondary" (click)="toggleSidenav()">
        <md-icon class="md-48">menu_vert</md-icon>
    </button>-->
  <md-icon class="logo-main noselect">public</md-icon>

  <span class="title-main noselect">Clean Sweep</span>
  <span class="full-width"></span>

  <button md-button [md-menu-trigger-for]="profileMenu" *ngIf="userData">
    <span class="profile noselect">
      <span class="name-user">{{userData.name}}</span>
      <img class="avatar" src="http://lorempixel.com/100/100" />
    </span>
  </button>
  <button md-button *ngIf="!authData" [routerLink]="['/login']">
    Log In
  </button>
  <button md-button *ngIf="authData" (click)="logout()">
    Log Out
  </button>
</md-toolbar>
<md-sidenav-layout class="sidenav-layout">
  <md-sidenav #start (open)="mybutton.focus()" class="sidenav-main" [ngClass]="{'sidenav-closed':sidenavStatus==='closed','sidenav-opened':sidenavStatus==='opened'}"
    mode="side" [opened]="sidenavOpened">
    <md-toolbar color="primary">
      <!--<span>Menu</span>-->
      <span class="fill-remaining-space"></span>
      <button md-icon-button (click)="toggleSidenavStatus()"><md-icon>menu</md-icon></button>
    </md-toolbar>
    <img class="logo-city" src="../assets/buffalo.png" *ngIf="sidenavStatus==='opened'" />
    <h3 class="title-city" *ngIf="sidenavStatus==='opened'">Buffalo, NY</h3>

    <md-nav-list *ngIf="authService.isLoggedIn">
      <md-list-item *ngFor="let page of pages" [routerLink]="page.routerLink">
        <md-icon>{{ page.icon }}</md-icon>
        <a md-line *ngIf="sidenavStatus==='opened'">{{ page.title }}</a>

      </md-list-item>
    </md-nav-list>
    <md-nav-list *ngIf="!authService.isLoggedIn">
      <md-list-item [routerLink]="['/login']">
        <a md-line>Log In</a>
        <md-icon>input</md-icon>
      </md-list-item>
      <md-list-item [routerLink]="['/register']">
        <a md-line>Register</a>
        <md-icon>person_add</md-icon>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-layout>

<md-menu #profileMenu="mdMenu">
  <!--<button md-menu-item> <md-icon>person</md-icon><span>Profile Settings </span></button>
  <button md-menu-item> <md-icon>exit_to_app</md-icon> Sign Out </button>-->
  <button md-menu-item> Profile Settings </button>
  <button md-menu-item (click)="logout()"> Log Out </button>
</md-menu>