<md-sidenav-layout>
  <md-sidenav #start (open)="mybutton.focus()" class="sidenav-main">
    <md-toolbar>Menu</md-toolbar>
    <md-list>
      <md-list-item>
        Partners
      </md-list-item>
    </md-list>
    Start Sidenav.
    <br>
    <button md-button #mybutton (click)="start.close()">Close</button>
  </md-sidenav>
  <md-sidenav #end align="end">
    End Sidenav.
    <button md-button (click)="end.close()">Close</button>
  </md-sidenav>

  <md-toolbar class="toolbar-main" color="warn">
    <button md-icon-button color="secondary" (click)="start.open()">
        <md-icon class="md-48">menu_vert</md-icon>
    </button>
    <span>Clean Sweep Buffalo </span>
    <span> {{title}}</span>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-layout>