body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  

  .demo-content {
    padding: 32px;
  }
md-card{
  padding: 0;
  background-color: green;
  md-toolbar{
    width: 100%;
    padding-left: 24px;
  }
  
  md-card-content{
    padding: 24px;
  }

}

  md-toolbar {
    md-icon {
      cursor: pointer;
    }

    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  h1 {
    font-size: 20px;
  }
}

.demo-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}
.sidenav-main {
    min-width: 25%;

    [md-button] {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }
.toolbar-main{
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
    display: block;
    position: relative;
    // padding: 24px;
    border-radius: 2px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background: white;
    color: black;
}

///MINE
.main-fab-button{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 16px;
}
.full-width{
  flex: 1 1 auto
}
.full-height{
  height: 100%;
}
.margin{
    margin: 16px;
}
.occupy-container{
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    overflow: scroll;
    // height: 100%;
    // border-color: rgba(0, 0, 0, 0.54);
}