.form-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  md-input{
    flex: 1;
    margin: 1px;
    width:100%;
    // margin-right: 16px;
    // width: 100%;
  }
  
}
.error{
    .md-input-wrapper{
        .md-input-underline{
            border-top: red 2px solid;
        }
    }
    
}
.error-message {
    position: relative;
    span {
      position: absolute;
      color: red;
      top: -15px;
      font-size:0.63em;
    }
  }
.ng-invalid{
    // border-top: red 2px solid;
    .md-input-wrapper{
        .md-input-underline{
            border-top: red 2px solid !important;
        }
    }
}
.ng-dirty{
    // border-top: darkorange 2px solid;
}

.error{
    margin-top: 16px;
    background-color: rgba(255, 0, 0, 0.4);
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
}