
.new-partner-name, .new-partner-category{
    flex: 1 1 auto;
}
.new-partner-key-full{
    // width: 50%;
    margin-left: 5px;

    flex: 1;
}
.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}