.fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
md-card{
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 16px auto;
  min-width: 300px;
  max-width: 500px;
  
  md-toolbar{
    width: 100%;
  }
  
  md-card-content{
    padding: 16px;
  }
  md-card-actions{
    padding: 0 16px 16px 0;
    margin: 0 16px 16px 16px ;
  }

}

.item-clean-sweep{
  cursor: default;
  box-shadow: 0;

  h2{
    font-family: 'Roboto Condensed', sans-serif;
    opacity: 0.5;
    width: 32px;
    
    sup{
      font-size: 12px;
      padding: 2px;
    }
  }
  h4{
    display: flex;
  }
  button{
     opacity: 0;
   }
   &:hover{
   h2{
     opacity: 1;
   } 
   button{
     opacity: 1;
   }
  }
}
.item-clean-sweep:hover{
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    color: red;
}

.icon-danger{
  color: red;
}

.md-list-item{
  font-family: 'Roboto Condensed', sans-serif;
}