<md-card>
  <md-toolbar>
    <span class="fill-remaining-space">New Clean Sweep</span>
  </md-toolbar>
  <div>{{form.value | json }}</div>
  <md-card-content>
    <form #form="ngForm" [formGroup]="addCleanSweepForm">
      
      <md-input class="width-100" placeholder="Clean Sweep Number" disabled value="1234">
      </md-input>
      <table cellspacing="0">
        <tr>
          <td>
            <md-input type="date" placeholder="Date" formControlName="date"></md-input>
          </td>
        </tr>
      </table>
      <table cellspacing="0">
        <tr>
          <td>
            <md-input type="time" placeholder="Start Time" formControlName="startTime"></md-input>
          </td>
          <td>
            <md-input type="time" placeholder="End Time" formControlName="endTime"></md-input>
          </td>
        </tr>
      </table>
      <table cellspacing="0" formArrayName="streets">
        <tr *ngFor="let street of streets.controls; let i=index" [formGroupName]="i">
          <td>
            <md-input class="width-100" placeholder="Street Name" formControlName="name"></md-input>
          </td>
          <td>
            <md-input placeholder="Start House #" type="number" formControlName="startHouseNumber"></md-input>
          </td>
          <td>
            <md-input placeholder="End House #" type="number" formControlName="endHouseNumber"></md-input>
          </td>
        </tr>
    
      </table>
      <button md-button (click)="addStreet()">
          <!--<md-icon class="md-24">add_circle</md-icon>-->
          <span>Add Street</span>
      </button>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" (click)="add()">ADD NEW</button>
    <button md-button color="warn" (click)="cancel()">CANCEL</button>
  </md-card-actions>
</md-card>