<md-card>
  <md-toolbar>
    <span class="fill-remaining-space">Create Clean Sweep</span>
  </md-toolbar>
  <md-card-content>
    <form>
      <md-input class="width-100" placeholder="Clean Sweep Number" disabled value="1234">
      </md-input>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input type="date" placeholder="Date" style="width: 100%" name="date" [(ngModel)]="date"></md-input>
          </td>
        </tr>
      </table>
      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <md-input type="time" placeholder="Start Time" style="width: 100%" name="startTime" [(ngModel)]="startTime"></md-input>
          </td>
          <td>
            <md-input type="time" placeholder="End Time" style="width: 100%" name="endTime" [(ngModel)]="endTime"></md-input>
          </td>
        </tr>
      </table>
      <table style="width: 100%" cellspacing="0">
        <tr *ngFor="let street of streets">
          <td>
            <md-input class="width-100" placeholder="Street Name" name="streetName" [(ngModel)]="street.name"></md-input>
          </td>
          <td>
            <md-input placeholder="Start House #" type="number" name="streetNumberStart" [(ngModel)]="street.startHouseNumber"></md-input>
          </td>
          <td>
            <md-input placeholder="End House #" type="number" name="streetNumbersEnd" [(ngModel)]="street.endHouseNumber"></md-input>
          </td>
          <!--<td><md-input #postalCode class="width-100" maxLength="5"
                      placeholder="Postal Code"
                      value="94043">
          <md-hint align="end">{{postalCode.characterCount}} / 5</md-hint>
        </md-input></td>-->
        </tr>
      </table>
      <button md-button (click)="addStreet()">
          <!--<md-icon class="md-24">add_circle</md-icon>-->
          <span>Add Street</span>
      </button>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" (click)="add()">ADD</button>
    <button md-button color="warn" (click)="cancel()">CANCEL</button>
  </md-card-actions>
</md-card>